.one-panel-container {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 30px;
}

.center {
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .home-image {
        max-width: 400px;
    }
}