.jumbo-dashboard {
    min-height: calc(100vh - 80px - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

.dashboard-cards-icons {
    width: 100px;
    height: 100px;
}

.cards  {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin:20px;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 5px 1px black;
    border-radius: 35px;
    text-decoration: none;
}

/* .cards:hover {
    width: 260px;
    height: 260px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
} */

.yellow {
    background-color: yellow;
    box-shadow: 1px 1px 20px 1px yellow;
    color: black;
}


.hotpink {
    background-color: hotpink;
    box-shadow: 1px 1px 20px 1px hotpink;
    color: black;
}