.jumbo-home {
    height: 60vh;
    color: white;
    background-color: #1c2237;
}

.button {
   width: 300px;
   height: 50px;
   background-color: #fff;
 
   box-shadow: 1px 1px 20px 1px #0d64e6;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.computer-image {
    max-width: 500px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text {
    text-align: left;
    max-width: 500px;
}

.center-text {
    text-align: center;
}

@media (max-width: 768px) {
    .home-text {
        text-align: center;
    }

    .home-container {
        display: flex;
        flex-direction: column;
    }
    .computer-image {
        max-width: 200px;
    }

    p {
        max-width: 400px;
    }

    .button {
        width: 100%;
     }
}