.jumbo-showcase {
    height: calc(90vh - 80px);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-weight: 450;
}

.infomessage-image {
    max-width: 50px;
}

.tab-image {
    width: 50px;
}

.showcase-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

