.steps-jumbo {
    height: 70vh;
    color: white;
    background-color: #1c2237;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

p {
    max-width: 500px;
}

h1 {
    max-width: 500px;
}