footer {
    color: white;
    background-color: #1c2237;
    height: 10vh;
    font-weight: 450;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10vh;
}

.github-image {
    max-width: 20px;
}

.space-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: rgb(165, 165, 165); 
    text-decoration: inherit;
}

.link :hover {
    color: white; 

}