footer {
    color: white;
    background-color: #1c2237;
    height: 80px;
    font-weight: 450;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10vh;
}

.github-image {
    max-width: 20px;
}

.space-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
