

/* used in footer and Navbar */
.link {
    color: rgb(165, 165, 165); 
    text-decoration: inherit;
}

.link:hover {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 20%;
    text-decoration-color: yellow;
}


/* used in home and about us */

.mobile {
    display:none;
}

.desktop {
    display: block;
}

@media (max-width: 768px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

/* about us, contact us and doc */

.jumbo {
    min-height: calc(100vh - 80px - 80px);
    background-color: #EDF0F4;
}

/* dashboard */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: black;
}
