

/* used in footer | Navbar */
.link {
    color: rgb(165, 165, 165); 
    text-decoration: inherit;
}

.link:hover {
    color: white;
}


/* used in home  */

.mobile {
    display:none;
}

.desktop {
    display: block;
}

@media (max-width: 768px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}