.navbar {
    background: black;
    min-height: 80px;
    font-size: 1.2rem;
    color: aliceblue;
    text-align: left;
    padding-left: 10px;
    bottom: 0;
}

.logo-font {
    font-size: 30px;
    font-weight: 500;
}

.logo {
    width: 30px;
}

@media (min-width: 768px) {

    .space-between {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
    }

}