.navbar {
    background: #1c2237;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: aliceblue;
}

.logo-font {
    color: aliceblue;
    font-weight: 500;
}

.space-between {
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
}

.container-smaller {
    max-width: 30px;
}

@media (min-width: 768px) {
    .center {
        display: flex;
        justify-content: center;
        text-align: center;
    }

}